<h2 class="root-admin-menu__title">管理人 MENU</h2>
<ul class="list-group root-admin-menu">
  <li class="list-group-item">
    <%= link_to "配信者登録フォーム", new_streamer_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "配信者一覧", all_streamers_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "動画一覧", all_videos_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "管理人登録フォーム", new_admin_user_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "管理人一覧", admin_users_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "ジャンル登録フォーム", new_genre_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "ジャンル一覧", genres_admin_path %>
  </li>
</ul>
