<%= form_with model: video, local: true do |f| %>
  <div class="form-group">
    <%= f.label "新しい動画をアップロードする" %>
    <%= f.file_field :video_url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "動画の説明文" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "ジャンル" %>
    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %> 
      <%= genre.label do %>
        <%= genre.check_box %>
        <%= genre.name %>
      <% end %>
    <% end %>
  </div>

  <%= f.hidden_field :streamer_id, :value => streamer_id %>

  <div>
    <%= f.submit "動画を追加する"%>
  </div>
<% end %>

<%= render partial: "shared/back_to_menu_btn" %>
