<%= form_with model: streamer, local: true do |f| %>
   <div>
      <%= f.label "名前" %>
      <%= f.text_field :name %>
   </div>
   <div>
      <%= f.label "X(Twitter)アカウントURL"%>
      <%= f.text_field :x_url %>
   </div>
   <% streamer.videos.present? %>
    <% streamer.videos.each do |video| %>
      <div>
        <%= video.video_url %>
        <%= link_to "編集", edit_video_path(video) %>
      </div>
    <% end %>
   <%= f.submit submit_text %>
<% end %>
