<%= form_with model: streamer, local: true do |f| %>
   <div class="form-group">
      <%= f.label "名前" %>
      <%= f.text_field :name, class: "form-control" %>
   </div>

   <div class="form-group">
      <%= f.label "アバター" %>
      <%= f.file_field :avatar, class: "form-control" %>
   </div>

   <div class="form-group">
      <%= f.label "X(Twitter)アカウントURL"%>
      <%= f.text_field :x_url, class: "form-control" %>
   </div>
   <% streamer.videos.present? %>
   <h5>登録動画一覧</h5>
   <ul class="list-group video-list">
    <% streamer.videos.each do |video| %>
      <li class="list-group-item">
        <%= video.video_url %>
        <button type="button" class="btn btn-success video-edit-btn">
          <%= link_to "編集", edit_video_path(video) %>
        </button>
        <button type="button" class="btn btn-danger video-delete-btn">
          <%= link_to "削除", video_path(video), method: :delete, data: {confirm: "削除してもよろしいですか？"}%>
        </button>
      </li>
    <% end %>
    </ul>
   <%= f.submit submit_text, class: "submit-btn video-submit-btn" %>
<% end %>

<%= render partial: "shared/back_to_menu_btn" %>